{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign In</title>
    <script>
       
            function slideSwitch() {
                var $active = $('#slideshow IMG.active');
                if ( $active.length == 0 ) $active = $('#slideshow IMG:last');
                var $next =  $active.next().length ? $active.next()
                    : $('#slideshow IMG:first');
                $active.addClass('last-active');
        
                $next.css({opacity: 0.0})
                    .addClass('active')
                    .animate({opacity: 1.0}, 1000, function() {
                        $active.removeClass('active last-active');
                    });
            }
            $(function() {
                setInterval( "slideSwitch()", 5000 );
            });

            $(document).ready(function(){
            $("#clk_link").click(function(){
                alert("Are you sure you want to leave this page?");
            });

            $('.button').hover(function() {
                $(".button").addClass('transition');
    
            }, function() {
                $(".button").removeClass('transition');
            });

            $("#judul").hover(function(){
                $(this).text("to Let's Plan!");
                
            }, function() {
                $(this).text("Welcome");
            });

        });
        
    
    </script>
</head>
<body>
    <div class="flex-container">
        <div class="flex-item-left">
            {% block content %}
            <form method="post">
                <p id="judul" style="font-size: 50px;font-weight: 700;">Welcome</p>
                <p style="font-weight:200;font-size: 22px;">Sign in to your account</p>
                {% csrf_token %}
                {{ form | crispy }}
                
                <button class="button" type="submit">Sign in</button>
                <div class="kosong"></div>
                <hr>
                <p style="font-weight:200;font-size: 15px;text-align: center;">Don't have an account? <a id="clk_link" style="font-weight:300;" href="{% url 'signup' %}">Sign up</a></p>
            </form>
            {% endblock %}
        </div>
        <div class="flex-item-right">
            <div id="slideshow">
                <img src="{% static 'img/gambar-login.svg' %}" alt="" class="active" />
                <img src="{% static 'img/gambar-login1.svg' %}" alt="" />
                <img src="{% static 'img/gambar-login2.svg' %}" alt="" />
                <img src="{% static 'img/gambar-login3.svg' %}" alt="" />
            </div>
        </div>

    </div>
</body>
</html>