{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Register Account</title>

    <script>
        $(document).ready(function(){
            $('#content').hover(function() {
                $("#content").addClass('transition');
    
            }, function() {
                $("#content").removeClass('transition');
            });
        });
    </script>

</head>
<body>
    <div class="flex-container">
        <div class="flex-item-top">
            <img id="content" src="{% static 'img/gambar-signup.svg' %}">
        </div>
        <div class="kosong"></div>
        <div class="flex-item-bottom" >
            {% block content %}
            <form method="post">
            <p style="font-size:40px;font-weight: 700;">Let us help you get started</p>
            <p style="font-weight:200;font-size: 22px;">Please fill out the fields below</p>
            
                {% csrf_token %}
                {{ form | crispy }}
            
            <div class="kosong"></div>
            <button class="button" type="submit">Create Account</button>
            </form>
            {% endblock %}
        </div>

    </div>
</body>
    
</html>