@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

body {
    font-family: Epilogue, sans-serif, monospace;
    color: white;
    background-color: #5877E7;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height:500px;
    border-radius: 40px;
    text-align: right;
    justify-content: center;
    width: 100px;
}

.flex-item-left {
    flex: 70%;
    text-align: left;
    font-weight: 600;
    padding: 30px;
    color: #ffbc2c;
    background-color: #5877E7;
    flex-direction: row;
    height:100vh;
    font-size: 15px;
    width: 100%;
}

.flex-item-right {
    font-family: 'Epilogue';
    flex: 70%;
    text-align: right;
    font-weight: 600;
    padding: 30px;
    color: #FECA59;
    background-color: #5877E7;
    flex-direction: row;
    height:100%;
    font-size: 15px;
    width: 100%;
}

.flex-item-right > h1 {
    font-size: 40px;
    margin-left: -19%;
    width: 100%;
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 600;
}

.btn-1 button {
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    width: 116.73px;
    /* margin-top: 130px; */
    /* margin-left: 233px; */
    /* left: 1160px; */
    top: 700px;
    font-size: 18px;
    font-weight: 400;
    font-family: Epilogue, sans-serif, monospace;
    background-color: #FECA59;
    border-radius: 29.8997px;
}

.btn-1 > button:hover {
    background-color: #ffae00;
    border-radius: 27.8997px;
}

.dot {
height: 170px;
width: 170px;
background-color: whitesmoke;
border-radius: 50%;
display: inline-block;

}


* {
    text-decoration: none;
    list-style: none;
    margin: 0;
}

nav{
    background: linear-gradient(180deg, #5877E7 100%,#B8C5F5 0%, #FFFFFF 0%);
    height: 250px;
    width: 100%;
}

.schedule-title {
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 400;
}

.schedule-day {
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.add-icon .add{
    background-color:  #ffbc2c;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10deg);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.containerr{
    margin-top: 100px; 
    margin-right: 360px;
}