@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    overflow-x: hidden;
}

.flexcontainer-text p:nth-child(1){
    position: absolute;
    width: 533px;
    height: 24px;
    top: 10px;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52.8997px;
    line-height: 95.3%;
    color: black;

}

.flexcontainer-text p:nth-child(2){
    position: absolute;
    width: 533px;
    height: 24px;
    top: 100px;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25.3919px;
    line-height: 95.3%;
    color: black;
}

.flexcontainer-text{
    left: 60px;
    position: absolute;
}

.flex-container img{
    position: absolute;
    width: 300.91px;
    height: 153px;
    left: 650px;
    top: 12px;
}
.flex-container{
    position: absolute;
    height: 217px;
    left: 137px;
    right: 136px;
    top: 215px;
    text-align: center;
    background-color:whitesmoke;
    border-radius: 50px;
    padding: 3%;
}
.yourtask-container h5{
    color: black;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 35.3222px;
    line-height: 95.3%;
    top: 486px;
    position: absolute;
    left: 148px;
}

.content {
    top: 100px;
    background-color: whitesmoke;
    color: #5877E7;
}

.text-logout p{
    top: 500px;
    left: 400px;
    position: absolute;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35.7592px;
    line-height: 37px;
    color: #FFFFFF;
}

.text-logout{
    position: relative;
}

.logout a{
    position: absolute;
    width: 95px;
    height: 25px;
    left: 672px;
    top: 776px;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18.04px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.flexbox{
    position: relative;
    height: 100%;
    background: #5877E7;
}

.flexbox a:link, a:visited{
    background-color: #ffbc2c; 
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    top: 550px;
    position: absolute;
    width: 149px;
    height: 45px;
    left: 571px;
}

.flexbox a:hover, a:active {
    background-color: #ffae00;
}

.flexbox img{           
    position: absolute;
    width: 570px;
    height: 364.02px;
    left: 370px;
    top: 91px;
}

.empty {
    padding: 3%;
}

.number {
    top: 100px;
    background-color: #FECA59;
    height: 140px;
    color: white;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: bold;
    font-size: 43px;
    text-align: center;
}

.content > h5 {
    padding: 70px 0;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: 400;
    font-size: 25px;
}

.space {
    margin-bottom: 70px;
    margin-top:150px;
}

.center {
    padding-top: 40px;
    padding-left: 20px;
}

@media all and (max-width: 1025px) {
    .flex-container{
        max-width: 1000px !important;
        max-height: 180px !important;
        overflow-x: hidden;
    }
    .flexcontainer-text p:nth-child(1){
        top: 30px;
        font-size: 45px;
        left: -80px;
    }
    .flexcontainer-text p:nth-child(2){
        font-size: 15px;
        left: -80px;
        overflow-x: hidden;
    }
    .flex-container img{
        width: 1300px;
        height: 120px;
        left: -100px;
        top: 20%;
        overflow-x: hidden;
    }
}
@media all and (max-width: 840px) {
    .flex-container img{
        width: 1300px;
        height: 120px;
        left: -200px;
        top: 20%;
        overflow-x: hidden;
    }
    .flexcontainer-text p:nth-child(1){
        top: 30px;
        font-size: 45px;
        left: -150px;
    }
    .flexcontainer-text p:nth-child(2){
        font-size: 15px;
        left: -150px;
        overflow-x: hidden;
    }
    .flex-container img{
        width: 1300px;
        height: 120px;
        left: -100px;
        top: 20%;
        overflow-x: hidden;
    }
}
@media all and (max-width: 610px) {
    .flex-container img{
        width: 2000px;
        height: 100px;
        left: -200px;
        top: 20%;
        overflow-x: hidden;
    }
    .flexcontainer-text p:nth-child(1){
        top: 40px;
        font-size: 30px;
        left: -200px;
    }
    .flexcontainer-text p:nth-child(2){
        font-size: 10px;
        left: -200px;
        overflow-x: hidden;
    }
    .flex-container img{
        width: 1300px;
        height: 120px;
        left: -30px;
        top: 20%;
        overflow-x: hidden;
    }
}

@media all and (max-width: 385px){
    .flex-container{
        left: 60px;
        width: 250px;
        max-height: 180px !important;
        overflow-x: hidden;
    }
    .flexcontainer-text p:nth-child(1){
        top: 30px;
        font-size: 30px;
        left: -200px;
    }
    .flexcontainer-text p:nth-child(2){
        top: 70px;
        font-size: 10px;
        left: -200px;
    }
    .flex-container img{
        width: 850px;
        height: 60px;
        left: -300px;
        top: 55%;
        overflow-x: hidden;
    }
    .yourtask-container h5{
        font-size: 22px;
        left: 60px;

    }
    .number {
        height: 80px;
        font-size: 30px;
        left: 25px;
    }
    .center {
        padding-left: 8px;
        padding-top: 9px;
    }
    .content {
        left: 25px;
        max-width: 280px;
    }
    .content > h5 {
        padding: 70px 0;
        font-family: Epilogue, sans-serif, monospace;
        font-weight: 400;
        font-size: 18px;
    }

}

@media all and (max-width: 610px) {
    .flex-container img{
        width: 2000px;
        height: 100px;
        left: -200px;
        top: 20%;
        overflow-x: hidden;
    }
    .flexcontainer-text p:nth-child(1){
        top: 40px;
        font-size: 30px;
        left: -200px;
    }
    .flexcontainer-text p:nth-child(2){
        font-size: 10px;
        left: -200px;
        overflow-x: hidden;
    }
    .flex-container img{
        width: 1300px;
        height: 120px;
        left: -30px;
        top: 20%;
        overflow-x: hidden;
    }
}






