@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

body {
    font-family: Epilogue, sans-serif, monospace;
    color:white;
    background-color: whitesmoke;
    background: #6C63FF;
    
    padding: 10%;

    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.flex-item-left {
    flex: 40%;
    font-size: 18px;
    font-weight: 500;
    text-align: left;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    
}
.flex-item-right {
    flex: 60%;
    color: white;
    text-align: right;
    margin-left: 10%;

}

#slideshow {
    position:relative;

    height:400px;

    
}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}
#slideshow IMG.active {
    z-index:10;
}
#slideshow IMG.last-active {
    z-index:9;
}

.button {
    background-color: #ffbc2c; 
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    width: 100%;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.button:hover {
    background-color: #ffae00; 
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}



hr {
    border-top: 0.5px solid white;
}

.kosong {
    padding: 7%;
}
img {
    width: 90%;
    text-align: right;
    float: right;

}

.flex-item-left a:hover {
    color: #ffbc2c;
  }
  .flex-item-left a:link {
    color: #ffbc2c;
  }
  .flex-item-left a:visited {
    color:  #ffbc2c;
  }
  .flex-item-left a:active {
    color:  #ffbc2c;
  }