@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:  'Epilogue', sans-serif, monospace;
}

nav{
    background: linear-gradient(180deg, #5877E7 0%,#B8C5F5 57.61%, #FFFFFF 100%);
    height: 250px;
    width: 100%;
}

.logo{
    padding: 0 50px;
    font-family:  'Epilogue', sans-serif, monospace;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

.navbar-dark .navbar-brand {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #5877E7 !important;
}

@media all and (max-width: 768px) {
    ul{
        position: fixed;
        width: 100%;
        height: 15vh;
        background: #5877E7;
        top: 75px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin-left: auto;
        margin-top: 40px;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #FFFFFF !important;
    }
}

@media all and (max-width: 610px) {
    ul{
        position: fixed;
        width: 100%;
        height: 20vh;
        background: #5877E7;
        top: 100px;
        left: 0;
        text-align: center;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #FFFFFF !important;
    }
}

@media all and (max-width: 385px) {
    ul{
        position: fixed;
        width: 100%;
        height: 10vh;
        background: #5877E7;
        top: 75px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin-left: auto;
        margin-top: 40px;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #FFFFFF !important;
    }
}