@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

* {
    font-family: Epilogue, sans-serif, monospace;
    text-decoration: none;
}

body {
    height: 100%;
    background: #5877E7;
    text-align: center;
    
}

.content {
    transform: translate(0, 100px);
}

.image {
    justify-content: center;
    margin-bottom: 20px;
}

.text-logout {
    justify-content: center;
    margin-bottom: 20px;
}

.text-logout h1 {
    color: white;
    font-weight: 700;
}
.log {
    justify-content: center;
}
.content img {
    width: 550px;
}

.log {
    color: white;
    padding: 10px 50px;
    background-color: #ffbc2c;
    border-radius: 50px;
    font-weight: 700;
}

.log:hover {
    background-color: #ffae00;
    color: white;
}

@media all and (max-width: 769px) {
    .content {
        transform: translate(0, 150px);
    }
    .content img {
        width: 350px;
    }
    .text-logout h1 {
        font-size: 25pt;
    }
}

@media all and (max-width: 426px) {
    .content {
        transform: translate(0, 200px);
    }
    .content img {
        width: 250px;
    }
    .text-logout h1 {
        font-size: 15pt;
    }
    .log {
        padding: 6px 35px;
        border-radius: 30px;
    }
    .log {
        font-size: 10pt;
    }
}