@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
}

body, html {
    width: 100%;
    height: auto;
    padding-right: 0 !important;
    margin: 0;
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: local;
    overflow-x: hidden;
}

#bold {
    font-weight: 700;
}

#medium {
    font-weight: 500;
}

#mid-text {
    margin-left: 100px;
}

/* SCHEDULE */
.schedule {
    transform: translate(0, -90px);
}

.schedule-title {
    margin-top: 20px;
    font-family: 'Epilogue', sans-serif, monospace;
}

.schedule-day {
    margin-top: 50px;
    font-family: 'Epilogue', sans-serif, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day h4 {
    margin-bottom: 0;
}

.add-icon .add {
    background-color:  #ffbc2c;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.add-icon .add:hover {
    background-color: #fab41d;
}

.schedule-content {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 !important;
}

.table-title {
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 400;
}

.schedule-table-content {
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 400;
    background-color: #F6F6F6;
    align-items: center;
    height: 7vh;
    margin-bottom: 10px;
}

.delete {
    text-align: end;
    width: 50px;
}

.delete a button {
    font-size: 8pt;
    border: 2px solid #ffbc2c;
    color: #ffbc2c;
    border-radius: 30px;
    padding: 4px 10px;
}

/* .delete a button:hover {
    border: 2px solid #ffbc2c;
    background-color: #ffbc2c;
    color: white;
} */

/* END SCHEDULE */

/* MODAL */
.close-btn {
    border: 1px solid black;
    background-color: #5877E7;
    color: white;
}

button.btn.close-btn {
    color: white;
}

button.btn.save-btn {
    padding: 5px 20px;
    color: white;
    border-radius: 50px;
    background-color: #ffbc2c;
}

button.btn.save-btn:hover {
    background-color: #fab41d;
    color: black;
}

.modal-title {
    color: white;
    margin-left: auto;
}

.modal-content {
    background-color: #5877E7 !important;
}

.col-form-label {
    color: white;
    font-family: 'Epilogue', sans-serif, monospace;
}

.form-control, option {
    font-family: 'Epilogue', sans-serif, monospace;
}

/* ADD SCHEDULE */
.head-title {
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 400;
    width: 500px;
    margin: auto;
}

.form {
    width: 500px;
    margin: auto;
    font-family: 'Epilogue', sans-serif, monospace;
    font-weight: 400;
}

@media all and (max-width: 1025px) {
    .schedule {
        max-width: 800px !important;
    }
}

@media all and (max-width: 769px) {
    #mid-text {
        margin-left: 0 ;
    }

    .schedule {
        max-width: 600px !important;
    }
    
}

@media all and (max-width: 610px) {
    .schedule {
        max-width: 320px !important;
        transform: translate(0, -100px);
    }

    .schedule-title h1 {
        font-size: 23pt;
        text-align: center;
    }
    
    .day h4 {
        font-size: 12pt;
    }

    .btn i {
        font-size: 10pt;
    }

    .add-icon .add {
        padding: 8px 12px;        
    }

    .table-title, .table-content, .delete {
        font-size: 8pt;
        max-width: 60px;
        padding-right: 0 !important;
    }

    .schedule-table-content {
        height: 5vh;     
    }

    .delete a button {
        font-size: 5pt;
        border-radius: 30px;
        padding: 3px 5px;
    }

    .col-form-label {
        font-size: 8pt;
    }
}

@media all and (max-width: 325px) {
    .schedule {
        max-width: 260px !important;
    }

    .table-title, .table-content, .delete {
        padding-left: 10px !important;
        max-width: 50px;
        font-size: 7pt;
    }
}