@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

body {
    font-family: Epilogue, sans-serif, monospace;
    color: white;
    background: rgb(88,119,231);
    background: linear-gradient(180deg, rgba(88,119,231,1) 0%, rgba(245,245,245,1) 100%);
    padding: 10%;
    padding-left: 25%;
    padding-right: 25%;
}

.flex-container {
    display: flex;
    flex-direction: column;


}


.flex-item-bottom {
    background-color: #97adff;
    border-radius: 45px;
    flex: 70%;
    font-size: 20px;

    font-weight: 500;
    text-align: center;
    padding: 30px;

    
}
.flex-item-top {
    flex: 30%;
    height: 30%;
    text-align: center;
}

.transition {
    -webkit-transform: scale(1.4); 
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}
#content {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}




img {
    height: 250px;
}

.button {
    background-color: #ffbc2c; 
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
    border-radius: 50px;
    cursor: pointer;
    width: 30%;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.button:hover {
    background-color: #ffae00; 
}

.kosong {
    padding: 3%;
}