@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

.flex-container {
    position: absolute;
    width: 1200px;
    height: 68px;
    left: 105px;
    top: 272px;
    background-color: #5877E7;
    border-radius: 29px;
    text-align: center;
}

.modal-footer > button {
    position: absolute;
    width: 110px;
    height: 42px;
    background: #FECA59;
    border-radius: 31.0701px;
    color: white;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.modal-footer > button:hover {
    background-color: #ffae00; 
}

.modal-header > button {
    color: white;
}

.flex-container > button {
    margin: auto;
    padding: 20px;
    color: white;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: 400;
    font-size: 20px;
}
.flex-container button:hover{
    background-color: rgb(78, 111, 232);
    color: #FECA59;
    border-radius: 29px;
    width: 1200px;
    height: 68px;
}
.container{
    margin-top: 110px;
}

.form-content, .modal-footer {
    background-color: #5877E7;
    color: white;
    font-family: Epilogue, sans-serif, monospace;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    text-align: center;
}

.modal-footer {
    height: 80px;
}

.modal-title {
    margin-left: auto;
    text-align: center;
}

.empty {
    padding: 3%;
}

.number {
    background-color: #FECA59;
    height: 140px;
    color: white;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: bold;
    font-size: 43px;
    text-align: center;
}

.content {
    background-color: #F7F7F7;
    color: #5877E7;
}

.content > h5 {
    padding: 70px 0;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: 400;
    font-size: 25px;
}

.space {
    margin-bottom: 70px;
}

.center {
    padding-top: 40px;
    padding-left: 20px;
}

.btn-2 {
    border: 2.36364px solid #FECA59;
    border-radius: 17.4399px;
    color: #FECA59;
    cursor: pointer;
    position: absolute;
    left: 940px;
    top: 80px;
    width: 50px;
}

.d-flex a:hover {
    color: white;
    background-color: #FECA59;
    text-decoration: none;
}

.d-flex .btn-2 {
    width: 79.18px;
    text-align: center;
}

@media all and (max-width: 1025px) {
    .flex-container {
        max-width: 800px;
    }
    .btn-2 {
        left: 750px;
    }
    .modal-content{
        margin-top: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 768px) {
    .flex-container {
        max-width: 600px;
    }
    .flex-container button:hover{
        width: max-content;
        height: 68px;
    }
    .btn-2 {
        left: 540px;
    }
}

@media all and (max-width: 610px) {
    .flex-container {
        width: 350px;
        left: 33px;
    }
    .btn-2 {
        left: 250px;
        top: 60px;
    }
    .number {
        height: 110px;
        font-size: 25px;
        left: 15px;
    }
    .center {
        margin-left: 2px;
        padding-left: 8px;
    }
    .content {
        left: 15px;
        max-width: 350px;
    }
    .content > h5 {
        padding: 70px 0;
        font-family: Epilogue, sans-serif, monospace;
        font-weight: 400;
        font-size: 18px;
    }
}

@media all and (max-width: 385px) {
    .flex-container {
        max-width: 260px;
        left: 60px;
    }
    .d-flex .btn-2 {
        width: 60px;
    }
    .btn-2 {
        top: 40px;
        left: 260px;
        font-size: 16px;
    }
    .flex-container button:hover{
        width: max-content;
    }
    .number {
        height: 80px;
        font-size: 30px;
        left: 15px;
    }
    .center {
        padding-left: 8px;
        padding-top: 9px;
    }
    .content {
        left: 15px;
        max-width: 350px;
    }
    .content > h5 {
        padding: 70px 0;
        font-family: Epilogue, sans-serif, monospace;
        font-weight: 400;
        font-size: 18px;
    }
}

@media all and (max-width: 325px) {
    .flex-container {
        max-width: 260px;
        left: 60px;
    }
    .d-flex .btn-2 {
        width: 60px;
    }
    .btn-2 {
        top: 40px;
        left: 20px;
        font-size: 16px;
    }
    .flex-container button:hover{
        width: max-content;
    }
    .number {
        height: 40px;
        font-size: 26px;
        left: 15px;
    }
    .center {
        padding-left: 8px;
        padding-top: 9px;
    }
    .content {
        left: 20px;
        max-width: 250px;
    }
    .content > h5 {
        padding: 70px 0;
        font-family: Epilogue, sans-serif, monospace;
        font-weight: 400;
        font-size: 12px;
    }
}