<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a222d351e0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- Trigger the modal with a button -->
    <div class="flex-container">
        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Add a plan</button>
    </div>

    <!-- Modal -->
    <form method="POST" id="myForm">
        {% csrf_token %}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content form-content">
                    <div class="modal-header">
                        <h4 class="modal-title">What to Do?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="empty"></div>
                            <label for="fdate">Date (YYYY-MM-DD):</label>
                            <input name="date" id="fdate" type="date" required>
                        {% endfor %}  
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="submit" class="btn">Save</button>
                    </div>
            
                </div>
            </div>
        </div>
    </form>
    <!-- </div> -->

    <div class="container space">
        {% for plan in all_plans %}
        <div class="row empty"></div>
        <div class="row">
             <div class="col-1 number center">{{ forloop.counter }}</div>
            
             <div class="col-11 content">
                <div class="d-flex">
                    <div class="d-flex flex-column center">
                        <h5>Plan : {{ plan.Plan}}</h5>
                        <h5>Date : {{ plan.Date }}</h5>
                    </div>
                    <div class="d-flex delete">
                        <a class="btn-2" href="{% url 'todolist:delete_plan' id=plan.id %}" role="button">Delete</a>
                    </div>
                    
                </div> 
            </div>
        </div>
        {% endfor %}
            
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/todolist.js' %}"></script>
    {% endblock content %}
</body>
</html>