{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a222d351e0.js" crossorigin="anonymous"></script>
    <title>Document</title>
  {% endblock %}
</head>

<body>
  {% block content %}
  {% if user.is_authenticated %}
  <div class="flex-item-right">
    <h1>Do you have any</h1>
    <h1>recommendations? </h1>
    <form class="container" style="font-size: 20px;"method="POST">
      {% csrf_token %}
      {{formcontact | crispy}}       
      <div class="btn-1">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form><br>
    <div class="containerr">
    {% if list_form %}
      {% for contact1 in list_form %}
      {{ user.username }} - {{ contact1.contactus }} <br>
      {% endfor %}
    {% endif %}
    </div>
    {% else %}
    <a href="{% url 'homepage:home' %}"></a>

  {% endif %}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/contactus.js' %}"></script>
  {% endblock content %}
</body>
  
  
</html>