{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
  {% if user.is_authenticated %}
    <div class="flex-container" id="container">
        <img id="image" src="{% static 'img/undraw_To_do_list_re_9nt7.svg' %}">
        <div class="flexcontainer-text">
            <p id="judul">Hi, {{ user.username }}!</p>
        </div>
    </div>

    <div class="yourtask-container">
        <h5 id="task">Your Task</h5>
    </div>   
    <div class="container space">
        {% for i in obj %}
        <div class="empty"></div>
        <div class="row">
             <div class="col-1 number center">{{ forloop.counter }}</div>
            
             <div class="col-11 content">
                <div class="d-flex">
                    <div class="d-flex flex-column center">
                        <h5>Plan : {{ i.Plan}}</h5>
                        <h5>Date : {{ i.Date }}</h5>
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %}
            
    </div>


  {% else %}
    <a href="{% url 'homepage:home' %}"></a>

{% endif %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function(){
      $("#judul").hover(function(){
            $(this).text("Ready to start your day with your planner ?");
            
        }, function() {
            $(this).text("Hi, {{ user.username }}!");
        });
      $("#image").click(function(){
        $("#image").fadeOut();
      });
      $("#task").on("click", function(){
        $(this).hide();
      });
    });
  </script>
</body>

{% endblock %}
</html>