{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notlogged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/notlogged.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container content">
        <div class="row image">
            <img src="{% static 'img/undraw_oops_notloggedin.svg' %}">
        </div>
        <div class="row text-logout">
            <h1>Oops... you’re not logged in</h1>
        </div>
        <div class="in">
            <a href="{% url 'login' %}"><button class="btn log">Log In</button></a>
        </div>
    </div>
{% endblock %}
</body>
</html>