<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    {% block title %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a222d351e0.js" crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <title>Schedule</title>

    {% endblock %}
</head>
<body>

    {% block content %}

        <div class="container schedule">
            <div class="row schedule-title" id="bold">
            <h1 id="bold">Schedule Dashboard</h1>
            </div>

            <!-- MONDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day monday">
                    <h4 id="bold">Monday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#monday">
                        <i class="fas fa-plus add"></i>            
                    </button>
                </div>  
            </div>
            {% if monday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                    <div class="col-sm table-title">Class</div>
                    <div class="col-sm table-title" id="mid-text">Period</div>
                    <div class="col-sm table-title" id="mid-text">Time</div>
                    <div class="col-sm table-title" id="mid-text">Lecturer</div>
                    <div class="col-sm table-title"></div>
                </div>
                {% for monday in schedule_model %}
                    {% if monday.day == 'Monday' %}
                        <div class="row schedule-table-content schedule-js">
                            <div class="col-sm table-content">{{ monday.kelas }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ monday.period }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ monday.time }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ monday.lecturer }}</div>
                            <div class="col-sm delete">
                                <a href="delete/{{monday.id}}"><button type="button" class="btn btn-outline-danger delete-js" id="bold">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- TUESDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day tuesday">
                    <h4 id="bold">Tuesday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#tuesday">
                        <i class="fas fa-plus add"></i>            
                    </button>
                </div>
            </div>
            {% if tuesday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                    <div class="col-sm table-title">Class</div>
                    <div class="col-sm table-title" id="mid-text">Period</div>
                    <div class="col-sm table-title" id="mid-text">Time</div>
                    <div class="col-sm table-title" id="mid-text">Lecturer</div>
                    <div class="col-sm table-title"></div>
                </div>
                {% for tuesday in schedule_model %}
                    {% if tuesday.day == 'Tuesday' %}
                        <div class="row schedule-table-content schedule-js">
                            <div class="col-sm table-content">{{ tuesday.kelas }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ tuesday.period }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ tuesday.time }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ tuesday.lecturer }}</div>
                            <div class="col-sm delete">
                            <a href="delete/{{tuesday.id}}"><button type="button" class="btn btn-outline-danger delete-js" id="bold">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- WEDNESDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day wednesday">
                    <h4 id="bold">Wednesday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#wednesday">
                    <i class="fas fa-plus add"></i>            
                    </button>
                </div>
            </div>
            {% if wednesday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                    <div class="col-sm table-title">Class</div>
                    <div class="col-sm table-title" id="mid-text">Period</div>
                    <div class="col-sm table-title" id="mid-text">Time</div>
                    <div class="col-sm table-title" id="mid-text">Lecturer</div>
                    <div class="col-sm table-title"></div>
                </div>
                {% for wednesday in schedule_model %}
                    {% if wednesday.day == "Wednesday" %}
                    <div class="row schedule-table-content schedule-js">
                        <div class="col-sm table-content">{{ wednesday.kelas }}</div>
                        <div class="col-sm table-content" id="mid-text">{{ wednesday.period }}</div>
                        <div class="col-sm table-content" id="mid-text">{{ wednesday.time }}</div>
                        <div class="col-sm table-content" id="mid-text">{{ wednesday.lecturer }}</div>
                        <div class="col-sm delete">
                        <a href="delete/{{wednesday.id}}"><button type="button" class="btn btn-outline-danger delete-js">Delete</button></a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}


            <!-- THURSDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day tuesday">
                    <h4 id="bold">Thursday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#thursday">
                    <i class="fas fa-plus add"></i>            
                    </button>
                </div>
            </div>
            {% if thursday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                    <div class="col-sm table-title">Class</div>
                    <div class="col-sm table-title" id="mid-text">Period</div>
                    <div class="col-sm table-title" id="mid-text">Time</div>
                    <div class="col-sm table-title" id="mid-text">Lecturer</div>
                    <div class="col-sm table-title"></div>
                </div>
                {% for thursday in schedule_model %}
                    {% if thursday.day == "Thursday" %}
                        <div class="row schedule-table-content schedule-js">
                            <div class="col-sm table-content">{{ thursday.kelas }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ thursday.period }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ thursday.time }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ thursday.lecturer }}</div>
                            <div class="col-sm delete">
                            <a href="delete/{{thursday.id}}"><button type="button" class="btn btn-outline-danger delete-js">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- FRIDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day friday">
                    <h4 id="bold">Friday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#friday">
                    <i class="fas fa-plus add"></i>            
                    </button>
                </div>
            </div>
            {% if friday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                <div class="col-sm table-title">Class</div>
                <div class="col-sm table-title" id="mid-text">Period</div>
                <div class="col-sm table-title" id="mid-text">Time</div>
                <div class="col-sm table-title" id="mid-text">Lecturer</div>
                <div class="col-sm table-title"></div>
                </div>
                {% for friday in schedule_model %}
                    {% if friday.day == "Friday" %}
                        <div class="row schedule-table-content schedule-js">
                            <div class="col-sm table-content">{{ friday.kelas }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ friday.period }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ friday.time }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ friday.lecturer }}</div>
                            <div class="col-sm delete">
                            <a href="delete/{{friday.id}}"><button type="button" class="btn btn-outline-danger delete-js">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- SATURDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day saturday">
                    <h4 id="bold">Saturday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#saturday">
                    <i class="fas fa-plus add"></i>            
                    </button>
                </div>
            </div>
            {% if saturday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                    <div class="col-sm table-title">Class</div>
                    <div class="col-sm table-title" id="mid-text">Period</div>
                    <div class="col-sm table-title" id="mid-text">Time</div>
                    <div class="col-sm table-title" id="mid-text">Lecturer</div>
                    <div class="col-sm table-title"></div>
                </div>
                {% for saturday in schedule_model %}
                    {% if saturday.day == "Saturday" %}
                        <div class="row schedule-table-content schedule-js">
                            <div class="col-sm table-content">{{ saturday.kelas }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ saturday.period }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ saturday.time }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ saturday.lecturer }}</div>
                            <div class="col-sm delete">
                            <a href="delete/{{saturday.id}}"><button type="button" class="btn btn-outline-danger delete-js">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- SUNDAY -->
            <div class="row schedule-day" id="bold">
                <div class="day sunday">
                    <h4 id="bold">Sunday</h4>
                </div>
                <div class="add-icon">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#sunday">
                    <i class="fas fa-plus add"></i>            
                    </button>           
                </div>
            </div>
            {% if sunday_schedule %}
            <div class="container-fluid schedule-content" data-aos="fade-up">
                <div class="row schedule-table-title">
                    <div class="col-sm table-title">Class</div>
                    <div class="col-sm table-title" id="mid-text">Period</div>
                    <div class="col-sm table-title" id="mid-text">Time</div>
                    <div class="col-sm table-title" id="mid-text">Lecturer</div>
                    <div class="col-sm table-title"></div>
                </div>
                {% for sunday in schedule_model %}
                    {% if sunday.day == "Sunday" %}
                        <div class="row schedule-table-content schedule-js">
                            <div class="col-sm table-content">{{ sunday.kelas }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ sunday.period }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ sunday.time }}</div>
                            <div class="col-sm table-content" id="mid-text">{{ sunday.lecturer }}</div>
                            <div class="col-sm delete">
                                <a href="delete/{{sunday.id}}"><button type="button" class="btn btn-outline-danger delete-js">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- MONDAY FORM -->
        <div class="modal fade" id="monday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            
                <div class="modal-content">
                    <!-- FORM -->
                    <form method="POST" action="/schedule/">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        <label for="day" class="col-sm-2 col-form-label">Day</label>
                        <div class="col-sm-10">
                            <select id="day" name="day" class="custom-select" required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                        </div>                         
                        <div class="form-group row">
                        <label for="kelas" class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kelas" id="kelas" placeholder="PPW G" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="period" class="col-sm-2 col-form-label">Period</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="time" class="col-sm-2 col-form-label">Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                        </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="Submit" class="btn save-btn add-js">Add</button>
                    </div>
                    </form>
                    <!-- END FORM -->
                </div>

            </div>
        </div>

        <!-- TUESDAY FORM -->
        <div class="modal fade" id="tuesday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            
            <div class="modal-content">
                <!-- FORM -->
                <form method="POST" action="/schedule/">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                    <label for="day" class="col-sm-2 col-form-label">Day</label>
                    <div class="col-sm-10">
                        <select id="day" name="day" class="custom-select" required>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday" selected>Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                    </div>                         
                    <div class="form-group row">
                    <label for="kelas-tue" class="col-sm-2 col-form-label">Class</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="kelas" id="kelas-tue" placeholder="PPW G" required>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="period" class="col-sm-2 col-form-label">Period</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="time" class="col-sm-2 col-form-label">Time</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                    </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="Submit" class="btn save-btn add-js">Add</button>
                </div>
                </form>
                <!-- END FORM -->
            </div>
            </div>
        </div>

        <!-- WEDNESDAY FORM -->
        <div class="modal fade" id="wednesday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            
            <div class="modal-content">
                <!-- FORM -->
                <form method="POST" action="/schedule/">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                    <label for="day" class="col-sm-2 col-form-label">Day</label>
                    <div class="col-sm-10">
                        <select id="day" name="day" class="custom-select" required>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday" selected>Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                    </div>                         
                    <div class="form-group row">
                    <label for="kelas-wed" class="col-sm-2 col-form-label">Class</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="kelas" id="kelas-wed" placeholder="PPW G" required>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="period" class="col-sm-2 col-form-label">Period</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="time" class="col-sm-2 col-form-label">Time</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                    </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="Submit" class="btn save-btn add-js">Add</button>
                </div>
                </form>
                <!-- END FORM -->
            </div>
            </div>
        </div>

        <!-- THURSDAY FORM -->
        <div class="modal fade" id="thursday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                
                <div class="modal-content">
                    <!-- FORM -->
                    <form method="POST" action="/schedule/">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        <label for="day" class="col-sm-2 col-form-label">Day</label>
                        <div class="col-sm-10">
                            <select id="day" name="day" class="custom-select" required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday" selected>Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                        </div>                         
                        <div class="form-group row">
                        <label for="kelas-thu" class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kelas" id="kelas-thu" placeholder="PPW G" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="period" class="col-sm-2 col-form-label">Period</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="time" class="col-sm-2 col-form-label">Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                        </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="Submit" class="btn save-btn add-js">Add</button>
                    </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
        </div>

        <!-- FRIDAY FORM -->
        <div class="modal fade" id="friday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            
            <div class="modal-content">
                <!-- FORM -->
                <form method="POST" action="/schedule/">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        <label for="day" class="col-sm-2 col-form-label">Day</label>
                        <div class="col-sm-10">
                            <select id="day" name="day" class="custom-select" required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday" selected>Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                        </div>                         
                        <div class="form-group row">
                        <label for="kelas-fri" class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kelas" id="kelas-fri" placeholder="PPW G" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="period" class="col-sm-2 col-form-label">Period</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="time" class="col-sm-2 col-form-label">Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                        </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="Submit" class="btn save-btn">Add</button>
                    </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
        </div>

        <!-- SATURDAY FORM -->
        <div class="modal fade" id="saturday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                
                <div class="modal-content">
                    <!-- FORM -->
                    <form method="POST" action="/schedule/">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                            <label for="day" class="col-sm-2 col-form-label">Day</label>
                            <div class="col-sm-10">
                                <select id="day" name="day" class="custom-select" required>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday" selected>Saturday</option>
                                <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                            </div>                         
                            <div class="form-group row">
                            <label for="kelas-sat" class="col-sm-2 col-form-label">Class</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="kelas" id="kelas-sat" placeholder="PPW G" required>
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="period" class="col-sm-2 col-form-label">Period</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="time" class="col-sm-2 col-form-label">Time</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                            </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="Submit" class="btn save-btn add-js">Add</button>
                        </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
        </div>

        <!-- SUNDAY FORM -->
        <div class="modal fade" id="sunday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <!-- FORM -->
                    <form method="POST" action="/schedule/">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        <label for="day" class="col-sm-2 col-form-label">Day</label>
                        <div class="col-sm-10">
                            <select id="day" name="day" class="custom-select" required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday" >Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday" selected>Sunday</option>
                            </select>
                        </div>
                        </div>                         
                        <div class="form-group row">
                        <label for="kelas-sun" class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kelas" id="kelas-sun" placeholder="PPW G" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="period" class="col-sm-2 col-form-label">Period</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="period" id="period" placeholder="2020/2021" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="time" class="col-sm-2 col-form-label">Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="time" id="time" placeholder="13.00" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="lecturer" class="col-sm-2 col-form-label">Lecturer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Pak Gladhi" required>
                        </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="Submit" class="btn save-btn add-js">Add</button>
                    </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
        </div>

        <Script type=text/javascript src="{% static 'js/schedule.js' %}"></Script>

    {% endblock %}
    
</body>
</html>